/* Header */
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: rgba(73, 216, 245);
}

.nav-link-a {
    padding: 16px; /* Garante um espaçamento interno consistente */
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    box-sizing: border-box;
}

.nav-link-a.active {
    color: white;
    padding: 16px;
    background-color: rgba(73, 216, 245);
    border-radius: 8px;
}


/* Divisórias do icone da estrela */
.divider-line {
    padding: 2px 55px;
    background-color: white;
    border-radius: 2px;
}

.divider-line-two {
    padding: 2px 55px;
    background-color: rgb(67, 67, 67);
    border-radius: 2px;
}

/* Sessão Portifólio */
/* Tornar o card o container relativo para posicionar o overlay */
.card {
    position: relative;
    cursor: pointer;
  }
  
  .card:hover::after {
    opacity: 1;
  }
  
  .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(73, 216, 245, 0.731);
    border-radius: 0.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  
.card:hover::before {
    content: ''; /* Retira qualquer conteúdo anterior */
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste para centralização exata */
    width: 100px; /* Tamanho do ícone */
    height: 100px; /* Tamanho do ícone */
    background-image: url('../assets/images/icons/Iplus.svg');
    background-size: contain; /* Ajusta o tamanho do ícone */
    background-repeat: no-repeat; /* Impede repetição */
    background-position: center; /* Centraliza o ícone */
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.3s ease; /* Transição suave */
}

/* Quando o mouse passar sobre o card, o ícone aparece */
.card:hover::before {
    opacity: 1;
    z-index: 100;
}
  

/* Sessão About */
.free-download {
    width: 18%;
    padding: 16px;
}

.free-download img{
    width: 11%;
}

.free-download:hover img{
    content: url('../assets/images/icons/download-black.svg');
}


/* Sessão Contact*/
.botao-send {
    background-color: rgba(73, 216, 245, 0.731);
    border: none;
}

.botao-send:hover {
    background-color: rgba(73, 216, 245, 0.731);
}

/* Footer */
.social-icons {
    width: 50px;
    height: 50px;
}

.social-icons:hover {
    background-color: white;
}

.social-icons:hover img.facebook-icon {
    content: url('../assets/images/icons/facebook-black-icon.svg');
    background-color: white;
}

.social-icons:hover img.twitter-icon {
    content: url('../assets/images/icons/twitter-black-icon.svg');
    background-color: white;
}

.social-icons:hover img.linkedin-icon {
    content: url('../assets/images/icons/linkedin-black-icon.svg');
    background-color: white;
}

.social-icons:hover img.dribble-icon {
    content: url('../assets/images/icons/dribble-black-icon.svg');
    background-color: white;
}